.aNav{
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    color: grey;
}

.pNav{
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    color: grey;  
}

.aNav:hover{
    color:lightgray;
}