<div class="user">
    <div class="divUserImage">
        <img class="rounded-circle imgUser" src="assets/image/user.jpg" alt="" />
        <p class="userName">David Williams</p>
        <p class="userPosition">Director</p>
    </div>
</div>
<div class="ulNav">
    <a routerLink="" class="nav-header menu-first nav-link">
        <i class="fa fa-tasks" aria-hidden="true"></i>Dashboard</a>
    <a href="#userMeun" class="nav-header menu-first nav-link collapsed" data-toggle="collapse">
        <i class="fa fa-address-book" aria-hidden="true"></i>Rfq
        <i class="fa fa-angle-left liRight" aria-hidden="true"></i>
    </a>
    <ul id="userMeun" class="navbar-nav collapse">
        <li class="nav-item menu-second">
            <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item menu-second">
            <a class="nav-link" routerLink="/rfq">Send</a>
        </li>
    </ul>
    <a href="#articleMenu" class="nav-header menu-first nav-link collapsed" data-toggle="collapse">
        <i class="fa fa-list"></i>User
        <i class="fa fa-angle-left liRight" aria-hidden="true"></i>
    </a>
    <ul id="articleMenu" class="navbar-nav collapse">
        <li class="nav-item menu-second">
            <a class="nav-link" href="#">Add</a>
        </li>
        <li class="nav-item menu-second">
            <a class="nav-link" href="#">Update</a>
        </li>
    </ul>
</div>