.left-nav {
    width: 200px;
    height: 100%;
    /* background-color: #161823; */
    /* background-color: #424c50; */
    background-color:#41555f;
    float: left;
}

.right-nav {
    width:calc(100% - 200px);
    height: 100%;
    float: left;
    /* background-color: #e9e7ef; */
}